<!-- <svg
  width="1440"
  height="72"
  viewBox="0 0 1440 72"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <rect width="1440" height="72" fill="#F1F0F0"></rect>
</svg>

<svg
  width="98"
  height="952"
  viewBox="0 0 98 952"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <rect width="98" height="952" fill="#F0F0F0"></rect>
</svg>

<svg
  width="376"
  height="952"
  viewBox="0 0 376 952"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <rect width="376" height="952" fill="#FBF4FD"></rect>
</svg> -->